//.title-with-input {
//  input {
//    min-width: 150px;
//    flex-grow: 1;
//    display: flex;
//    //width: 50%;
//    //max-width: 400px;
//  }
//  justify-content: space-around;
//  span {
//    max-width: 400px;
//    flex-grow: 1;
//  }
//}
//
//.group-question-nav {
//  @extend .d-flex;
//  @extend .flex-row;
//  @extend .my-2;
//  //@extend .pb-1;
//  background-color: #ffffffa3;
//  padding-left: 2em;
//  margin-left: -2em;
//  padding-top: 0.7em;
//  padding-bottom: 0.7em;
//  border-bottom-left-radius: 1em;
//  border-top-right-radius: 1em;
//  //border-bottom: 1px dashed lightblue;
//}
//
//.modular-display-box > .question-title {
//  @extend .group-question-nav;
//  .answer-button {
//    @extend .btn-lg
//  }
//}

.question-title {
  .title-text {
    cursor: pointer;
  }
}

.group-answers, .group-event {
  flex-direction: row !important;
}

.group-answers .modular-display-box {
  flex-grow: 0 !important;
}

.group-great {
  flex-direction: column;
}

.tip-input {
  max-width: 50px;
}

//.answer, .contribution, .event, .card {
//  .controls {
//    margin-top: $spacer * 0.25;
//    margin-left: $spacer * 0.25;
//    align-items: center;
//  }
//  .card-controls-bottom {
//    border-top: 1px solid rgba(62, 77, 82, 0.24);
//  }
//  .vote-breakdown {
//    flex-wrap: wrap;
//    span {
//      margin-right: $spacer * 0.25;
//    }
//  }
//}

.answer.card, .contribution.card, .event.card, .question.card, .members.card, .space.card {
  margin-top: $spacer * 0.25;
  padding: $spacer * 0.25;
  flex-wrap: wrap;
  background-color: white;
  .card-body {
    padding: $spacer * 0.25;
    //order: 1;
  }
  .controls {
    //order: 1;
  }
  .card-controls-bottom {
    //order: 3
  }

  &.confirmed {
    background-color: rgba($confirmed-color, 0.30);
  }
}


.card.answer {
  //border-color: rgba(139, 69, 19, 0.3);
  .card-title {
    color: saddlebrown;
  }
}

$contribution-color: forestgreen;

.contribution-label {
  color: $contribution-color
}

.card.contribution {
  //border-color: $contribution-color;
  //border-color: rgba(34, 139, 34, 0.30);
  .card-title {
    color: $contribution-color;
  }
}

$event-color: #9f8600;

.card.event {
  //border-color: $event-color;
  border-color: rgba(218, 115, 0, 0.3);
  .card-title {
    //color: $event-color;
    color: rgb(218, 136, 35);
  }
}

.card.question {
  .header-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    cursor: pointer;
  }

  .card.answer {
    border: none;
    border-left: 1px solid rgba(0, 0, 0, 0.31);
    .title-block {
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      align-items: baseline;
      justify-content: space-around;
      .card-title {
        margin: 0;
      }
    }
    .card-controls {
      display: none;
    }
  }

  .inner-questions {
    margin-top: $spacer;
  }
}

.card {
  border-radius: 0;
  .title-block {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  .card-body {
    padding: $spacer * 0.5;
  }
  .user-badge {
    canvas {
      height: 1.5em;
    }
  }
  .card-subtitle {
    span {
      //white-space: nowrap;
    }
  }
}

.inline-question {
  &::before {
    content: "Q:";
    font-weight: bold;
    font-size: smaller;
  }
}

.members.card {
  .card-controls {
    //width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    .open-btn {
      margin: 0;
    }
  }

  .user-space-contribution-box {
    margin-top: $spacer * 0.25;
    padding-top: $spacer * 0.25;
    border-top: 1px solid #e7e7e7;
    display: flex;
    width: 100%;
    flex-direction: column;

    .user-badge {
      display: inline-flex;
      margin-right: $spacer * 0.5;
    }

    .user-box {
      display: flex;
      width: 100%;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .user-earned-bar-box {
      display: flex;
      width: 100%;
      flex-grow: 1;
      align-items: center;
    }
    .user-earned-bar {
      background-color: $money-color;
      border-left: 2px solid $money-color;
      height: 5px;
      display: flex;
      border-radius: 3px;
      margin-left: $spacer * 0.25;
    }
  }

  .user-space-contribution-box:first-child {
    margin-top: 0;
    border-top: none;
    padding-top: 0;
  }
}

.user-badge {
  display: inline-flex;
  align-items: center;
}

.card {
  .card-subtitle {
    .user-badge {
      display: flex;
    }
  }
}

.card.space {
  .card-subtitle {
    @extend .text-muted;
    .user-badge {
      display: flex;
    }
  }
}

.feed {
  display: flex;
  align-items: center;
  margin-top: $spacer * 0.35;
  margin-bottom: $spacer * 0.35;
  & > * {
    margin-left: $spacer * 0.25;
    margin-bottom: 0;
  }
  & > *:first-child {
    margin-left: 0;
  }

  .action-text {
    font-weight: bold;
  }

  &.vote-group {
    display:flex;
    align-items: unset;
    flex-direction: column;
    .vote-group-body {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: flex-end;

      & > * {
        display: flex;
        align-items: center;
        & > * {
          margin-left: $spacer * 0.25;
        }
      }
    }
  }

  .proposal-body {
    background-color: rgba(119, 136, 153, 0.10);
  }
}

.feed:first-child {
  margin-top: 0;
}