.confirmed {
  .confirm-control {
    color: forestgreen;
  }
}

.card {
  .space-actions-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .btn {
      @extend .btn-sm;
    }
  }

  .card-controls {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: $spacer * 0.25;

    .open-btn {
      margin: auto;
    }
  }
}