.confirmed {
  .confirm-control {
    color: forestgreen;
  }
}

.btn {
  align-items: center;
}

.space-actions-bar {
  flex-wrap: wrap;
}

.card {
  .space-actions-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .btn {
      @extend .btn-sm;
    }
  }

  .card-controls {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: $spacer * 0.25;


    .btn {
      margin-left: auto;
      @extend .btn-sm;
    }

    .open-btn {
      margin-bottom: $spacer * 0.1;
      &:last-child {
        margin-bottom: 0;
      }
    }

    .btn-sm {
      padding-top: 0;
      padding-bottom: 0;
    }

    .voting-controls {
      margin-left: auto;
    }
    .give-btn {
      padding-top: $spacer * 0.25;
      padding-bottom: $spacer * 0.25;
    }
    .modules {
      display: inline-flex;
      flex-wrap: wrap;
      & > span, & > div {
        margin-bottom: $spacer * 0.1;
      }
    }
  }
}


.section-nav-buttons {
  display: inline-flex;
  justify-content: flex-end;

  .btn {
    background-color: color("indigo");
    color: white;
    border-radius: 0;
    //margin-right: $spacer * 0.25;
  }
}