.confirmed {
  .confirm-control {
    color: forestgreen;
  }
}

.card {
  .space-actions-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .btn {
      @extend .btn-sm;
    }
  }
}