.section {
  padding-left: 1%;
  padding-right: 1%;
  position: relative;

  .card {
    width: 100%;
  }

  .SignupButton {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-bottom: $spacer * 0.5;
  }
}

.top-space-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 100%;
  width: 100%;

  .span-separator {
    width: 100%;
  }

  .scroll-wrapper {
    display: flex;
    //flex-basis: 100%;
    flex-grow: 1;
    //min-height: 300px;
    overflow: hidden;
    position: relative;

    .scroll-veil {
      position: absolute;
      top: 0; bottom: 0; right: 0; left: 0;
      background-color: rgba(0,0,0, 0.1);
      display: none;
      z-index: 10
    }

    &.scrolling {
      .scroll-veil {
        display: block;
      }
    }
  }

  .top-space-layout-content {
    //overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    .layout-header {
      display: flex;
      flex-direction: column;
    }
  }

  .title.confirmed {
    background-color: $confirmed-color;
  }

  .top-space-child-display {
    margin-top: $spacer;
    flex-direction: row;
    flex-wrap: nowrap;
    position: absolute;
    cursor: all-scroll;
    //overflow: scroll;

    & > .section {
      border-left: 1px dotted rgba(119, 136, 153, 0.47);
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      padding-bottom: $spacer * 2;
      .section > *:last-child {
        margin-bottom: auto;
      }

      //$max-break-width: breakpoint-max("xs");
      $min-width: 200px;
      min-width: $min-width;
      max-width: 400px;

      @include media-breakpoint-up("sm") {
        $min-break-width: breakpoint-min("sm");
        $min-width: ($min-break-width - ($min-break-width / 6)) * 0.45 ;
        min-width: $min-width;
      }
      @include media-breakpoint-up("md") {
        $column-size: 0.45;
        $min-break-width: breakpoint-min("md");
        $min-width: ($min-break-width - ($min-break-width / 6)) * $column-size ;

        min-width: $min-width;
      }
      @include media-breakpoint-up("lg") {
        $column-size: 0.45;
        $min-break-width: breakpoint-min("lg");
        $min-width: ($min-break-width - ($min-break-width / 6)) * $column-size ;

        min-width: $min-width;
      }

    }
    .section:first-child {
      border-left: none;
    }


    .section::before {
      display: block;
      text-align: center;
      @extend h4
    }
    .questions.section::before {
      content: "Questions";
    }
    .answers.section::before {
      content: "Answers";
    }
    .sub-spaces.section::before {
      content: "Spaces";
    }
    .contributions.section::before {
      content: "Helpers";
    }
    .section.administrative {
      //min-width: 200px;
      //max-width: 250px;
    }
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }
}


.top-space-layout.basic-signup {
  .basic-signup.section::before {
    content: "Signed-up"
  }
  .contributions.section {
    display: none;
  }
}

//.top-space-layout.contributing-signup {
//  .top-space-child-display {
//
//  }
//}