.section {
  padding-left: 1%;
  padding-right: 1%;
  position: relative;

  .card {
    width: 100%;
  }

  .SignupButton {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-bottom: $spacer * 0.5;
  }
}

.top-space-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 100%;
  width: 100%;

  .span-separator {
    width: 100%;
  }

  .title.confirmed {
    background-color: $confirmed-color;
  }

  .top-space-child-display {
    margin-top: $spacer;
    flex-direction: row;
    flex-wrap: nowrap;
    & > .section {
      border-left: 1px dotted rgba(119, 136, 153, 0.47);

      $min-break-width: breakpoint-min("md");
      $column-size: 0.90;
      @include media-breakpoint-up("md") {
        $column-size: 0.45;
        $min-break-width: breakpoint-min("md");
      }

      max-width: $column-size * 100%;
      min-width: ($min-break-width - ($min-break-width / 6)) * $column-size ;

    }
    .section:first-child {
      border-left: none;
    }


    .section::before {
      display: block;
      text-align: center;
      @extend h4
    }
    .questions.section::before {
      content: "Questions";
    }
    .answers.section::before {
      content: "Answers";
    }
    .sub-spaces.section::before {
      content: "Spaces";
    }
    .contributions.section::before {
      content: "Helpers";
    }
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }
}


.top-space-layout.basic-signup {
  .basic-signup.section::before {
    content: "Signed-up"
  }
  .contributions.section {
    display: none;
  }
}

//.top-space-layout.contributing-signup {
//  .top-space-child-display {
//
//  }
//}