.section {
  padding-left: 1%;
  padding-right: 1%;

  .card {
    width: 100%;
  }
}

.top-space-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 100%;
  width: 100%;

  .span-separator {
    width: 100%;
  }

  .top-space-child-display {
    margin-top: $spacer;
    flex-direction: row;
    flex-wrap: nowrap;
    & > .section {
      //@extend .col-md-5;
      //@extend .col-lg-4;
      //@extend .col-xl-3;
      width: 90%;
      border-left: 1px dotted rgba(119, 136, 153, 0.47);
      @include media-breakpoint-up("md") {
        $column-size: 0.45;
        max-width: $column-size * 100%;
        $min-break-width: breakpoint-min("md");
        min-width: ($min-break-width - ($min-break-width / 6)) * $column-size ;
      }
    }
    .section:first-child {
      border-left: none;
    }


    .section::before {
      display: block;
      text-align: center;
      @extend h4
    }
    .questions.section::before {
      content: "Questions";
    }
    .answers.section::before {
      content: "Answers";
    }
    .sub-spaces.section::before {
      content: "Spaces";
    }
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }


}
