$theme-colors: (
        "primary": #FFA000,
);

$confirmed-color: rgba(36, 82, 30, 0.8);
$money-color: #34ce57;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "menu";
@import "cards";
@import "images";
@import "misc";
@import "controls";
@import "layouts";

html {
  height: 100%;
}

body, #body-container {
  margin: 0;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  //justify-content: center;
  justify-content: flex-start;
  background-color: rgba(49, 72, 80, 0.05);
  overflow: auto;
}

#viewport {
  //background-color: white;
  //max-width: 1000px;
  min-width: 320px;
  //padding: $spacer * 0.25;
  padding: 0;
  min-height: 100%;
  width: 100%;
  display: block;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 0 !important;
  overflow: auto;
  //@extend .container
}

#viewport > .modular-display-box:first-of-type {
    width: 100%;
  }

#viewport > .modular-display-box:first-of-type > .child-display-box {
  margin-left: 0 !important;
}

.child-display-grouped-box {
  flex-wrap: wrap;
}

.child-display-box:first-child {
  margin-left: 0;
}

.child-display-box {
  margin-left: 10px;
  //border: 3px solid green;
  //padding: 5px
}

.modular-display-box {
  flex-grow: 1;
  //border: 1px solid blue;
  //padding: 5px
}

.module-hook {
  display: none;
  /*width: 5px;*/
  /*height: 5px;*/
  /*background-color: pink;*/
  /*display: block;*/
  /*margin-bottom: 3px;*/
}

.modal-outer-box {
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  flex-direction: column;
}

.main-help {
  z-index: 100;
  position: fixed;
  border-radius: 3%;
  top: 3%;
  left: 33%;
  right: 33%;
  padding: 15px;
  background: black;
  color: whitesmoke;
}

.login-outer-box {
  z-index: 100;
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  //overflow: auto;
  //bottom: 0;
  background-color: white;

  .login-box {
    align-items: center;
  }
}

.btn {
  //border-radius: 0;
  cursor: pointer;
}

.btn.symbolic {
  border: none;
  display: inline-flex;
  flex-grow: 0;
  align-items: center;
  justify-content: center;
}

.btn-active {
  border-color: theme-color("primary");
}

.subsection-header {
  margin-top: $spacer * 0.5;
  margin-left: -$spacer;
  color: darkcyan;
  width: 100%;
}

textarea {
  resize: both;
}