.navigation-back {
  margin-bottom: $spacer;
  margin-left: auto;
  border: none;
}

.current-user-wallet-outer-box {
  $balance-color: #34ce57;
  $negative-balance-color: #ce4759;
  flex-direction: column;
  .balance {
    color: $balance-color;
  }
  .negative {
    color: $negative-balance-color;
  }
  .info-text {
    flex-wrap: nowrap;
  }
  .thanks-balance {
    border-bottom: 1px solid grey;
    //border-bottom: 1px solid $balance-color;
  }
  .balance-text {
    border-bottom: 1px solid grey;
    white-space: nowrap;
  }
}

.menu-bar {
  @extend .col-md-2;
  max-width: 170px;
  padding-left: $spacer * 0.25;
  padding-right: $spacer * 0.25;
  padding-top: $spacer * 0.5;
  background-color: black;
  color: color-yiq(theme-color("dark"));
  justify-content: space-around;
  align-content: flex-start;
  min-height: 100%;
  flex-wrap: wrap;

  .question-tooltip {
    color: theme-color("primary");
    background-color: grey;
    //color: theme-color("dark");
    //background-color: color-yiq(theme-color("dark"));
    padding: 3px;
    border-radius: 7px;
    width: 20px;
  }
  .title {
    margin-left: $spacer *0.5;
    margin-right: $spacer *0.5;
  }

  .btn-outline-light {
    color: #FFA000;
    border-color: rgba(255, 160, 0, 0.31);
  }

  .actions {
    margin-top: $spacer * 1.5
  }
}

.top-space-menu {
  display: flex;
  justify-content: center;
  .btn {
    @extend .btn-lg
  }
}

.space-actions-bar {
  justify-content: center;
  align-self: center;
  //width: 100%;
  @extend .mt-1;
  .btn {
    @extend .mr-1;
    align-items: center;
    flex-wrap: wrap;
  }
}

.create-space-form {
  justify-items: center;
  & > div {
    width: 100%;
    flex-grow: 1;
  }
  .parent-space span {
    text-decoration: underline;
    background: #f1f1f1;
  }
}

.create-question-form {
  input[type="checkbox"] {
    width: auto;
  }
}

.modal-outer-box {
  form {
    .input-var {
      @extend .mt-2
    }
    input, textarea {
      width: 100%;
    }
  }
}