.menu-bar {
  background-color: theme-color("dark");
  color: color-yiq(theme-color("dark"));
  justify-content: space-around;
  margin-left: -($spacer * 2);
  margin-right: -($spacer * 2);
}

.navigation-back {
  border-left: none;
}

.current-user-wallet-outer-box {
  .balance {
    color: #34ce57;
  }
}

.menu-bar {
  .question-tooltip {
    color: theme-color("dark");
    background-color: color-yiq(theme-color("dark"));
    padding: 3px;
    border-radius: 7px;
    width: 20px;
  }
  .title {
    margin-left: $spacer *0.5;
    margin-right: $spacer *0.5;
  }
}

.top-space-menu {
  display: flex;
  justify-content: center;
  .btn {
    @extend .btn-lg
  }
}

.space-actions-bar {
  justify-content: center;
  align-self: center;
  //width: 100%;
  @extend .mt-1;
  .btn {
    @extend .mr-1;
    align-items: center;
    flex-wrap: wrap;
  }
}

.create-space-form {
  justify-items: center;
  & > div {
    width: 100%;
    flex-grow: 1;
  }
  .parent-space span {
    text-decoration: underline;
    background: #f1f1f1;
  }
}

.modal-outer-box {
  form {
    .input-var {
      @extend .mt-2
    }
    input, textarea {
      width: 100%;
    }
  }
}