.load-indicator {
  //width: 100%;
  height: 3em;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0; right: 0;
  z-index: 1000;
  justify-content: flex-end;

  .loading-text {
    opacity: 0.8;
    word-break: keep-all;
    max-width: 90%;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.btn-help {
  text-decoration: underline;
  cursor: pointer;
}

.error {
  .error-header {
    color: theme-color("danger")
  }
}

.password-info {
  @extend .text-muted;
  font-size: smaller;
  text-align: justify;
  margin: $spacer*0.5 0;
}

.active-info {
  color: $active-info-color;
}

// fixme. temporary
.card.members {
  .open-btn {
    display: none;
  }
}

.zoom-hint {
  padding: $spacer * 0.3;
  width: 100%;
  color: $active-info-color;
  display: flex;
  justify-content: center;
}

.iScrollHorizontalScrollbar {
  bottom: unset !important;
  z-index: 100 !important;
  .iScrollIndicator {
    background-color: rgba($active-info-color, 0.5) !important;
  }
}

.scrolling {
  div, span, p {
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  }
}

.tree-list .tree-list {
  padding-left: 0.5em
}

.tree-list li {
  list-style-type: none;
}

.critical-question-list {
  .board {
    display: flex;
    flex-direction: row;
    .card {
      margin-right: 0.5em;
    }
  }
}

.tutorial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  .header-img {
    height: 5em;
    margin-bottom: 1em;
  }
  audio {
    width: 100%
  }
  .vision-link {
    font-size: 1.5em;
  }
}

.plenty-name {
  font-family: 'Comfortaa', sans-serif;
}