.title-with-input {
  input {
    min-width: 150px;
    flex-grow: 1;
    display: flex;
    //width: 50%;
    //max-width: 400px;
  }
  justify-content: space-around;
  span {
    max-width: 400px;
    flex-grow: 1;
  }
}

.group-question-nav {
  @extend .d-flex;
  @extend .flex-row;
  @extend .my-2;
  @extend .pb-1;
  border-bottom: 1px dashed lightblue;
}

.group-answers {
  flex-direction: row;
}

.group-great {
  flex-direction: column;
}

.tip-input {
  max-width: 50px;
}

.answer, .contribution {
  .controls {
    margin-top: $spacer * 0.25;
    margin-left: $spacer * 0.25;
    align-items: center;
  }
}

.card.answer {
  border-color: saddlebrown;
  .card-title {
    color: saddlebrown;
  }
}

$contribution-color: forestgreen;

.card.contribution {
  border-color: $contribution-color;
  .card-title {
    color: $contribution-color;
  }
}

.card {
  border-radius: 0;
}

.contribution-label {
  color: $contribution-color
}
